footer{
	height: 210px;
	background-color: rgb(16, 18, 19);
	opacity: 0.5;
	text-align: center;
	font-size: 20px;
	font-family: Ubuntu, monospace;
	text-decoration: none;
	margin-top: 10px;
	color: white;
}



@media only screen and (max-width: 450px) {
footer{
	height: 120px;
	font-size: 12px;
}

}