.navBar{
	width: 90%;
	height: 50px;
	left: 50%;
	top: 0;
	transform: translate(-50%,0);
	position: fixed;
	display: flex;
	flex-direction: row;
	transition-duration: 0.3s;
	z-index: 10;
}
.navBar *{
	flex: 100%;
	color: white;
	border: none;
	font-size: 32px;
	cursor:url("pointer.png"), default;
	font-family: Fira Sans, sans-serif;
	background: transparent;
	transition-duration: 0.25s;
	border-right: 1px solid #405D6A;
}
.theme{
	flex-shrink: 2;
}
.navBar button{width: 100%;height: 100%;}
.navBar button:focus{outline: none;}







@media only screen and (max-width: 500px) {
.navBar{
	height: 40px;
	margin: 0;
	padding: 0;
}
.navBar a{
	font-size: 16px;
	height: 100%;
}
.navBar button{
	font-size: 16px;
	width: 100%;
	height: 100%;
}
}



/*	 THEMES   */
.navBarLight{background: #214252;}
.navBarLight button:hover{background: #3F5C69;}
.navBarDark{background: #EB1C49;}
.navBarDark a:hover{background: #9C1431;border-right: 1px solid #0D0D0B;}
.navBarDark button{border-right: 1px solid #0D0D0B;}









