@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Ubuntu:wght@700&display=swap');


::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background-color:transparent;
}
::-webkit-scrollbar-thumb{
    background-color: #787F83;
}