@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Ubuntu:wght@700&display=swap');
body{
	background: white;
	overflow-x: hidden;
	font-family: Ubuntu;
	cursor:url("mouse.png"), default;
	font-size: 35px;
	user-select: none;
	width: 100%;
	height: 1300px;
	color: #6C63FF;
	margin: 0;
}
.navBar{
	width: 100%;
	height: 50px;
	background: #214252;
	position: fixed;
	display: flex;
	flex-direction: row;
}
.navBar *{
	flex: 100%;
	color: white;
	border: none;
	font-size: 32px;
	cursor:url("pointer.png"), default;
	font-family: Fira Sans;
	background: #214252;
}
.navBar button:hover{
	background: #162C38;
}












@media only screen and (max-width: 500px) {
.navBar{
	height: 40px;
	margin: 0;
	padding: 0;
}
.navBar *{
	font-size: 16px;
	height: 100%;
}
}




::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-track{
    background-color:transparent;border-radius: 4px;
}
::-webkit-scrollbar-thumb{
    background-color: #214252;
}