@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Ubuntu:wght@700&display=swap');
body{
	background: #EEEEEE;
	overflow-x: hidden;
	font-family: Ubuntu, monospace;
	cursor:url("mouse.png"), default;
	font-size: 35px;
	user-select: none;
	width: 100%;
	height: 200%;
	margin: 0;
	display: flex;
	flex-direction: column;
}
button{
	border: none;
	cursor:url("mouse.png"), default;
	background: transparent;
}
button:active{outline: none;}
button:focus{outline: none;}
.header{
	display: flex;
	width: 100%;
	height: 450px;
	background: transparent;
	top: 50px;
	left: 0;
	position: absolute;
	overflow: hidden;
}
.header div{width: 100%;}
.header * :hover{background: gray;}
.headerText{
	flex-basis: 140%;
	text-align: center;
	font-size: 54px;
	font-family: Ubuntu, monospace;
	border: none;
	background-color: transparent;
}
.headerPic img{width: 100%}
.projectsHeading{
	width: 100%;
	height: 100px;
	position: absolute;
	font-size: 44px;
	color: #1C2023;
	top: 540px;
	font-family: Ubuntu, monospace;
}
.hr1{
	width: 70%;
	height: 3px;
	margin-top: 24px;
	margin-bottom: 16px;
}
.hr2{
	position: absolute;
	background: #214252;
	width: 100%;
	height: 3px;
	margin-top: 24px;
	margin-bottom: 16px;
}
.hr3{
	position: absolute;
	background: #214252;
	width: 100%;
	height: 3px;
	margin-top: 24px;
	margin-bottom: 16px;
}
.headling{
	font-size: 32px;
	font-family: Fira Sans, sans-serif;
}
.msg1{
	width: 90%;
	height: 300px;
	position: absolute;
	top: 650px;
	left: 50%;
	margin-top: 50px;
	display: flex;
	background:url("design1.png");
	box-shadow: 10px 10px gray;
	transform: translate(-50%,0%);
}
.msg1Pic{
	flex: 40%;
	background:no-repeat url("crypto.svg");
	background-size: 300px;
	background-position: center;
}
.msg1Text{
	flex: 60%;
	text-align: center;
	font-family: Fira Sans, sans-serif;
	color: white;
	font-size: 32px;
	padding-right: 10%;
	padding-top: 2%;
}
.tag1{
	position: absolute;
	height: auto;
	width: auto;
	font-family: Ubuntu, monospace;
}








@media only screen and (max-width: 500px) {
.header{height: 240px;}
.headerText{font-size: 26px;}
.hr1{display: none;}
.headling{font-size: 16px;}
.headerPic img{display: none;}
.msg1{display: none;}
}




::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background-color:transparent;
}
::-webkit-scrollbar-thumb{
    background-color: #787F83;
}
/*	 THEMES	*/
.tag1Light{color: #214252;}
.tag1Dark{color: #CECECD;}
.bodyLight{background: #EEEEEE;}
.bodyDark{background: #474747;}
.headerTextLight{color: #214252;}
.headerTextDark{color: #B5C0C6;}
.hrLight{background: #214252;}
.hrDark{background: #B5C0C6;border: none;}
.msg1Light{background:#214252 url("design1.png");box-shadow: 10px 10px gray;color: white;}
.msg1Dark{background:#606060 url("design2.png");box-shadow: 10px 10px #292A2D;color: #CECECD;}