body{
	background: rgb(16, 18, 19);
	font-family: Ubuntu, monospace;
	cursor:url("mouse.png"), default;
	font-size: 35px;
	user-select: none;
	width: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
}
.menu{
	width: 100%;
	height: 60px;
	position: absolute;
	background: #101213;
	top: 0;
	left: 0;
	z-index: 2;
	display: flex;
	flex-direction: row;
	font-family: sans-serif;
}
.menu *{
	color: #F37B98;
	font-size: 32px;
	width: auto;
	height: auto;
	padding: 10px;
	cursor: pointer;
}
header{
	color: white;
	height: 600px;
	font-size: 82px;
	padding-top: 100px;
	padding-left: 20px;
	text-align: left;
}
#content{
	background-color: transparent;
	text-align: center;
	font-size: 32px;
	color: white;
	height: 150px;
	width: 100%;
	background: rgb(16, 18, 19);
	border: none;
}
#contentList{
	height: 200px;
	width: 100%;
	display: flex;
	flex-direction: row;
}
content{
	height: 200px;
	background: yellow;
	width: 50%;
	border: 1px solid red;
}


#homeBut{
	text-decoration: underline;
	color: #EF476F;
}
.canvas1{
	position: fixed;
	z-index: -1;
	opacity: 0.3;
}
#imageViewer{
	width: 90%;
	height: 80%;
	background-color: rgb(16, 18, 19);
	position: fixed;
	top: 0%;
	left: 0%;
	z-index: 5;
	display: none;
}
#closeBut{
	width: 50px;
	height: 50px;
	left: 100%;
	top: 0%;
	font-size: 42px;
	transform: translateX(-100%);
	position: absolute;
	color: white;
}