 * {
	margin: 0;
}
body{
	background: rgb(16, 18, 19);
	font-family: Ubuntu, monospace;
	cursor:url("mouse.png"), default;
	overflow-x: hidden;
	font-size: 35px;
	user-select: none;
	width: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
}
.menu{
	width: 100%;
	height: 60px;
	position: absolute;
	background: #101213;
	top: 0;
	left: 0;
	z-index: 2;
	display: flex;
	flex-direction: row;
	font-family: sans-serif;
}
.menu *{
	color: #F37B98;
	font-size: 32px;
	width: auto;
	height: auto;
	padding: 10px;
	cursor:url("pointer.png"), pointer;
}
.header{
	color: white;
	height: 600px;
	font-size: 82px;
	padding-top: 100px;
	padding-left: 20px;
	text-align: left;
}
#content{
	background-color: transparent;
	text-align: center;
	cursor:url("mouse.png"), default;
	font-size: 32px;
	color: white;
	height: 150px;
	width: 90%;
	margin: 0;
	margin-left: 5%;
	margin-right: 5%;
	background: rgb(16, 18, 19);
	border: none;
	font-family:  Fira Sans, monospace;
	animation: glow 2500ms linear infinite 2500ms;
}
#contentList{
	height: 35%;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
content{
	font-size: 18px;
	cursor:url("pointer.png"), pointer;
	font-family:  Fira Sans, monospace;
	text-align: center;
	color: white;
	height: 90%;
	background: black;
	width: 30%;
	margin: 1.5%;
}
/* Footer is styled in its respective file */
section{
	height: 320px;
}
section > div {
	padding-top: 15px;
	background: rgb(16, 18, 19);
	border-radius: 30px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 80%;
	height: 90%;
	font-size: 32px;
	color: rgb(48, 168, 192);
	border: 8px solid rgb(48, 168, 192);
}
.submitBut{
	font-size: x-large;
	margin-left: 5px;
	border-radius: 10px;
	color: white;
	border-color: rgb(48, 168, 192);
	background: rgb(48, 168, 192);
}
label{
	padding-left: 10px;
}
.name{
	background-color: transparent;
	color: white;
	width: 60%;
	font-size: x-large;
	vertical-align: middle;
	border:1px solid rgb(48, 168, 192);
}
.msg{
	background-color: transparent;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	border:none;
	border-top:1px solid rgb(48, 168, 192);
	font-size: xx-large;
	resize: none;
	width: 100%;
	height: 75%;
	color: white;
}
.name:focus{outline: none;}
.msg:focus{outline: none;}
.canvas1{
	position: fixed;
	z-index: -1;
	opacity: 0.5;
}